@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&family=Roboto:wght@100;700&display=swap');
body {
    margin: auto;
    padding: 0;
    background-color: rgb(190, 207, 223);
    
}
.things {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    margin-top: 3px;
}
.code {
     margin-top: 5px;
     margin-left: 10px;
     border-radius: 15px;
     position: inherit;
     
     
}
.aattribution {
    color: rgb(121, 121, 116)22);

}
.cover {
    background-color: white;
    margin-left: 38%;
    margin-right: 38%;
    padding: 5px;
    border-radius: 30px;
    margin-top: 10px;
    
}
.scan {
    text-align: center;
    color: rgb(180, 190, 190);
}